extends layout

block content

  h1.
    123arol Device Checker Result

  h3.
    Device EUI

  span=deveui

  h3.
    Last LoRaWAN Join

  div(class='lastjoin')=lastJoin

  h3.
    Last Actvity

  div(class='lastactivity')=lastActivity

  a(href='/' class='back') Back
